@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;

}

.offset:before{
  display: block;
  content: "";
  height: 5rem;
  margin-top:-5rem;
}

/* --- Heading for each sections ----- */
.narrow h1{
  font-size: 4.8rem;
  margin-bottom: 0rem;
  font-weight: 700;
  /* margin: 0 5 rem 0 5rem; */
}

.narrow h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.narrow h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

/* ---- Heading underline ----- */
.heading-underline{
  width: 24rem;
  height: .3rem;
  background-color: #0EE3F5;
  margin: 1rem auto 2rem;
}

/*--- Navigation --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 0.1rem;
  text-align: center;
  background: rgba(0,0,0,0.6)!important;
}
.navbar-brand img{
  height: 4rem;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #0EE3F5;
}


/*--- Landing Page --*/

.home-inner {
  background-image: url(img/background1.jpg);
  z-index: -1;
}
.dark {
  background-color: rgba(0,0,0,0.6);
  color: white;
  margin-bottom: 0.4rem;

}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1{
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .4rem;
  text-shadow: .2rem .2rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
}

/*============ Professional Summary Section =========*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}


.lead {
  font-size: 1.6rem;
  text-align:left;
}

/*--- Skills Section --*/
.jumbotron{
  /* margin-bottom: 0; */
  padding: 0 0 2rem;
  border-radius: 0;
}
/* .narrow h3.heading  {
  font-size: 4.4rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  /* margin-bottom: 1.9rem; */
/* }  */

.skills svg.svg-inline--fa{
  color: #0EE3F5;
}
.narrow .skills h3{
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.skills p{
  font-size: 0.85rem;
}

/*---- Education Section --*/

/* .narrow h3{
  font-size: 1.7rem;
  font-weight:700;
  padding-top: 0.1rem;
  padding-bottom: 0.4rem;
} */
.narrow h5{
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
}
.education {
  font-size: 1rem;
}
.education span{
  font-weight:700;
}

/*---- Professional Experience --*/

.responsibility{
font-size: 0.9rem;
margin-bottom: -0.5rem;
}

/*--- Contact Section --*/

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}
footer img{
  height: 6rem;
  margin: 1.5rem 0:
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 2rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #0EE3F5!important;
}
.contact{
letter-spacing: .1rem;
font-size: 1.1rem;
}
.contact strong{
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 0.2rem;
}
hr.socket{
  width:100%;
  border-top: .1rem solid #666b71;
  margin-top: 3rem;
}

/*--- Media Queries --*/

@media (max-width:767px){

  .caption h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 0.5rem;
  }

  .caption h3{
    font-size: 1.3rem;
    text-shadow: .1rem .1rem .5rem black;
  }
  .narrow h1{
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .narrow h3.heading  {
    font-size: 2rem;
  }
  .lead {
    font-size: 1.1rem;
    text-align:center;
  }

  .narrow .skills h3{
    font-size: 1.3rem;
  }

  .narrow h3{
    font-size: 1.5rem;
  }
  .narrow h5{
    font-size: 1.1rem;
    padding-bottom: 0.2rem;
  }
  .education {
    font-size: 0.8rem;
  }
  .skills p{
    font-size: 0.85rem;
  }
  .responsibility{
  font-size: 0.8rem;
  }
  .contact{
  font-size: 0.8rem;
  }
  .contact strong{
    font-size: 0.9rem;
  }

}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
